.container
    margin-right: 10%
    margin-left: 10%
    margin-bottom: 70px
    display: flex
    .recent
        margin-left: 15px
        padding-right: 120px
    #gris
        color: #354a52    
    button
        background-color: #26a2cc
        color: white
        border: none
        border-radius: 10px
        padding: 15px
    .cardImg
        display: flex

        color: white
        margin: 10px
        text-align: center
    .contenuCard
        background-color: #38485f
        margin: 5px
        border-radius: 5px 5px

@media screen and (min-width:375px) and (max-width:425px)
    .container
        flex-direction: column
        margin: 0px
        .recent
            display: flex
            justify-content: space-around
            align-items: center
            padding: 0
            p
                display: none
            button
                padding: 0
                height: 40px
        .cardImg
            display: inline
            .contenuCard
                img
                    width: 100%
                    height: 150px
                p
                    display: none
            
@media screen and (min-width:426px) and (max-width:768px)
    .container
        flex-direction: column
        margin: 0px
        .cardImg
            display: flex
            justify-content: center
            width: 100%
            .contenuCard
                width: 30%
                img
                    width: 100%

@media screen and (min-width:769px) and (max-width:1024px)
    .container
        margin: 5%
        .recent
            padding-right: 50px
    .cardImg
        display: flex
        align-items: center
        .contenuCard
            height: 250px
            img
                width: 180px
