footer
    color: #9db8d1
    height: 300px
    .inTouch
        height: 250px
        background-color: #3676bb
        align-items: center
    .titre
        display: flex
        justify-content: center
        padding-top: 30px
    .para
        display: flex
        justify-content: center
        text-align: center
        margin-left: 405px
        margin-right: 405px
    .reseau
        display: flex
        justify-content: center
        font-size: 30px
        i
            margin: 20px

    .copyright
        text-align: center
        background-color: #363b47
        padding: 20px
        p 
            margin: 0
            color: #53646d
    